#
# Systemd service to upgrade ScoDoc
#
# Put this file in /etc/systemd/system, along with scodoc-updater.service
#
# E. Viennet jun 2019
#

[Unit]
Description=Upgrade ScoDoc and Linux each week on Saturday night (sunday, 2:30 am)

[Timer]
OnCalendar=Sun *-*-* 02:30:00
# Add random delay, to avoid overloading ScoDoc upgrade server
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target
