{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

{% if message %}
<div class="alert alert-danger" role="alert">{{ message }}</div>
{% endif %}

<h1>Connexion</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<br>
En cas d'oubli de votre mot de passe
<a href="{{ url_for('auth.reset_password_request') }}">cliquez ici pour le réinitialiser</a>.
</p>


<p class="help">L'accès à ScoDoc est strictement réservé aux personnels de
    l'établissement. Les étudiants n'y ont pas accès. Pour toute information,
    contactez la personne responsable de votre établissement.</p>
{% endblock %}