{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ "Désactiver" if u.active else "Activer" }} l'utilisateur {{ u.get_nomplogin() }} ?</h1>
<div class="help">
    Dans ScoDoc on ne supprime pas les utilisateurs mais on les rend inactifs:
    ils n'apparaissent plus dans les listes et ne peuvent plus se connecter.
    <br />
    Ces utilisateurs peuvent être réactivés à tout moment.
</div>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}