#
# Systemd service to upgrade ScoDoc
#
# Put this file in /etc/systemd/system, along with scodoc-updater.timer
# and then run
#    systemctl enable scodoc-updater.timer
#    systemctl start scodoc-updater.timer
# 
# E. Viennet jun 2019
#

[Unit]
Description=Update ScoDoc Software

[Service]
Type=oneshot
ExecStart=/opt/scodoc/tools/upgrade.sh

