html:after {
  /* common custom values */
  content: "IUT de Chartres Specimen"; /* your site name */
  font-size: 720%;         /* font size */
  color: rgba(0, 0, 0, .05);
  /* alpha, could be even rgba(0,0,0,.02) */

  /* rest of the logic */
  z-index: 9999;
  cursor: default;
  display: block;
  position: fixed;
  top: 33%;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Verdana, Geneva, sans-serif; 
  font-weight: bold;
  font-style: italic;
  text-align: center;
  line-height: 100%;

  /* not sure about who implemented what ..
    ... so bring it all */
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  font-weight:light;
  font-family:arial;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color: #4a6e91;
  text-align: left;
}

table {
   border-collapse: collapse;
   border: #4a6e91 1px solid;
   width: 100%;
   font-family : arial, verdana, sans-serif ;
   font-size: 12px;
}

td.titre {
  border-top: #4a6e91 1px solid; 
  border-right: #4a6e91 1px solid; 
  border-left: #4a6e91 1px solid; 
  border-bottom: #4a6e91 1px solid; 
  font-weight:bold;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.titre_vide {
  background-color: #dddddd;
  border-top: #4a6e91 1px solid; 
  font-weight:bold;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.ue {
  background-color: #dddddd;
  border-top: #4a6e91 1px solid; 

  font-weight:bold;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.ue_vide {
  background-color: #dddddd;
  border-right: #4a6e91 1px solid; 
  font-weight:bold;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.module {
  background-color: #eeeeee;
  border-top: #4a6e91 1px solid; 
  border-right: #4a6e91 0px solid; 
  border-left: #4a6e91 1px solid; 
  font-weight:bold;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.module_vide {
  background-color: #eeeeee;
  font-weight:light;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.evaluation {
  background-color: #ffffff;
  font-weight:light;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.evaluation_vide {
  background-color: #eeeeee;
  border-top: #4a6e91 1px solid; 
  font-weight:light;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.note {
  background-color: #ffffff;
  font-weight:light;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.note_vide {
  background-color: #eeeeee;
  border-top: #4a6e91 1px solid; 
  font-weight:light;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.coef {
  background-color: #eeeeee;
  border-top: #4a6e91 1px solid; 
  font-weight:bold;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.coef_ue {
  background-color: #dddddd;
  border-top: #4a6e91 1px solid; 
  border-bottom: #4a6e91 1px solid; 
  font-weight:bold;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.coef_vide {
  background-color: #ffffff;
  font-weight:light;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.moyennes {
  background-color: #eeeeee;
  border-top: #4a6e91 1px solid;
  border-right: #4a6e91 1px solid;   
  font-weight:light;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

td.moyennes_bold {
  background-color: #dddddd;
  border-top: #4a6e91 1px solid; 
  font-weight:bold;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color:#4a6e91;
  text-align: left;
  text-decoration:none;
  padding:2px;
}

img { 
  vertical-align : middle;
}

form { 
  display: table;
  width: auto; /*matching the parents div width*/
  color: #333333; 
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
}

fieldset { 
  width: 100%; 
  background: #F6F6F6; 
  -webkit-border-radius: 8px; 
  -moz-border-radius: 8px; 
  border-radius: 8px; 
  border: 0; 
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#FFFFFF)); 
  background: -moz-linear-gradient(center top, #EFEFEF, #FFFFFF 100%); 
  box-shadow: 3px 3px 10px #ccc; 
  -moz-box-shadow: 3px 3px 10px #ccc; 
  -webkit-box-shadow: 3px 3px 10px #ccc;
}

legend { 
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 14px; 
  font-weight:bold;
  background-color: #4F709F; 
  color: white; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  box-shadow: 2px 2px 4px #888; 
  -moz-box-shadow: 2px 2px 4px #888; 
  -webkit-box-shadow: 2px 2px 4px #888; 
  text-shadow: 1px 1px 1px #333;
}

label { 
  color: #4a6e91; 
  font-family: Verdana, Geneva, sans-serif; 
  font-weight:bold;
  font-size: 12px; 
  text-align: right; 
  height: 20px; 
  line-height: 20px;
}

input, textarea, select { 
  border: 1px solid #d9d9d9;
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px; 
  color: #4a6e91;
}

.submit { 
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 14px; 
  font-weight:bold;
  width: 100px; 
  border: 0; 
  background: #009900; 
  color: white; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  box-shadow: 2px 2px 4px #888; 
  -moz-box-shadow: 2px 2px 4px #888; 
  -webkit-box-shadow: 2px 2px 4px #888; 
  margin-bottom: 4px; 
  text-shadow: 1px 1px 1px #333;
}

.bulletin { 
  width: 85%;
  padding: 20px; 
  background: #F6F6F6; 
  -webkit-border-radius: 8px; 
  -moz-border-radius: 8px; 
  border-radius: 8px; 
  border: 0; 
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#FFFFFF)); 
  background: -moz-linear-gradient(center top, #EFEFEF, #FFFFFF 100%); 
  box-shadow: 3px 3px 10px #ccc; 
  -moz-box-shadow: 3px 3px 10px #ccc; 
  -webkit-box-shadow: 3px 3px 10px #ccc;
}

.absences { 
  width: 75%;
  padding: 20px; 
  background: #F6F6F6; 
  -webkit-border-radius: 8px; 
  -moz-border-radius: 8px; 
  border-radius: 8px; 
  border: 0; 
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#FFFFFF)); 
  background: -moz-linear-gradient(center top, #EFEFEF, #FFFFFF 100%); 
  box-shadow: 3px 3px 10px #ccc; 
  -moz-box-shadow: 3px 3px 10px #ccc; 
  -webkit-box-shadow: 3px 3px 10px #ccc;
}

.info { 
  display: table;
  width: auto; /*matching the parents div width*/
  padding: 10px; 
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 14px; 
  font-weight:bold;
  border: 0; 
  background: #4F709F; 
  color: white; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  box-shadow: 2px 2px 4px #888; 
  -moz-box-shadow: 2px 2px 4px #888; 
  -webkit-box-shadow: 2px 2px 4px #888; 
  margin-bottom: 4px; 
  text-shadow: 1px 1px 1px #333;
}

.alert { 
  display: table;
  width: auto; /*matching the parents div width*/
  padding: 10px; 
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 14px; 
  font-weight:bold;
  border: 0; 
  background: #4F709F; 
  color: white; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  box-shadow: 2px 2px 4px #888; 
  -moz-box-shadow: 2px 2px 4px #888; 
  -webkit-box-shadow: 2px 2px 4px #888; 
  margin-bottom: 4px; 
  text-shadow: 1px 1px 1px #333;
}

.code { 
  border: 1px dotted black;
  display: table;
  width: auto; /*matching the parents div width*/
  padding: 10px; 
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 14px; 
  font-weight:light;
  font-style: italic;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  margin-bottom: 4px; 
}

.nbabs {
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 14px; 
  font-weight:bold;
  color: #FF4500; 
}

.nbabsjust {
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 14px; 
  font-weight:bold;
  color: #32CD32; 
}


