{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<div class="row">

    <h2>Prototype ScoDoc</h2>
    <div style="font-size: 140%">=> <a href="{{url_for('scodoc.index')}}">Page d'accueil ScoDoc 8</a></div>


    <h2>Essais divers</h2>

    <p>
        <tt>flask v{{ flask.__version__ }}</tt><br />
        <tt>werzeug v{{ werzeug.__version__ }}</tt>
    </p>
    <h3>Avec login requis</h3>
    <ul>
        <li><a href="{{ url_for('main.test_vue') }}"><tt>test_vue</tt>, login requis</a></li>
        <li><a href="{{ url_for('main.a_zope_function', y=22) }}">a_zope_function</a> : affichage objets "Zope"</li>
        <li><a href="{{ url_for('main.a_zope_function', x=11, y=22) }}">a_zope_function?x=22</a> : avec parametre
            <tt>x=11, y=22</tt>
        </li>
    </ul>
    <h3>Sans login</h3>
    <ul>
        <li><a href="{{ url_for('main.a_zope_form_get') }}"><tt>a_zope_form_get</tt></a> : formulaire GET ala ScoDoc non
            protégé renvoyant vers une page protégée</li>
        <li><a href="{{ url_for('main.a_zope_form_post') }}"><tt>a_zope_form_post</tt></a> : formulaire POST ala ScoDoc
            non protégé renvoyant vers une page protégée</li>


        <li><a href="{{ url_for('main.formsemestre_statux', dept_id='RT') }}"><tt>formsemestre_statux</tt></a> : a-t-on
            le rôle EnsRT ?
        </li>
        <li><a href="ScoDoc/RT/Scolarite/Notes/essai"><tt>Notes/essai</tt> : test "notes", url
                manuelle</a></li>
        <li><a href="{{ url_for('notes.essai2' , scodoc_dept='RT') }}"><tt>Notes/essai2</tt></a> : permission
            ScoImplement dans RT
        </li>
    </ul>
    <h3>Essais décorateurs et appels</h3>
    <ul>
        <li><a href="{{ url_for('essais.sco_exemple', scodoc_dept='RT') }}">sco_exemple</a></li>
    </ul>

    <h3>Config</h3>
    <div>
        <tt>static_url_path={{current_app.static_url_path}}</tt><br />
        <tt>static_folder={{current_app.static_folder}}</tt>
    </div>
</div>

{% endblock %}